//row has collapsed because its elements are floated
//so we use the standard clear

@mixin clearfix {
    &::after { //.row::after {}
        content: '';
        display: table;
        clear: both;
    }
}