/*! basic reset */
*,
*::after,
/*using only * only the real elements get this behavior not after elements or before elements*/
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* set the root font size never user px here is bad practice*/
html {
    /* font-size: 100%; */
    /* this percentage translates a font size given by the browser*/
    /* 100% means if the user doesn't change anything this means the font-size will be 16px the absolute default*/
    /* so we want 1rem = 10px this 10/16=0.625 or 62.5% */
    font-size: 62.5%; // 1rem = 10px;   10px / 16px = 62.5% 
    //! this defines what 1rem is
    // this font-size defines how we size the entire site that's why it doesn't go in typography

    // pass content to the mixin
    // @include respond-phone {
    //     font-size: 50%;
    // }

    // pass content to the mixin that uses and if directive
    // @include respond(phone) { this media query is unnecessary because is the  
    //     font-size: 50%;     //same as tab-port
    // }

    // the order is higher to lower

    @include respond(tab-land) {
        //width < 1200?
        font-size: 56.25%; // we want 1rem = 9px, 9/16 = 0.5625 or 56.25% 
    }

    @include respond(tab-port) {
        //width < 900?
        font-size: 50%; // we want 1rem = 8px, 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 75%; // we want 1rem = 12, 12/16 = 0.75 or 75%
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }
}

// all this goes to base because they are the basic definitions about the entire project

::selection {
    background-color: $color-primary;
    color: $color-white;
}